body {
    font-family: 'Muli', sans-serif;
    background: #f4f7f8;
}
.float{
  float: left;
}
.float-op{
  float: right
}
header .logo {
    height: 100%;
    padding-top: 15px;
    z-index: 99;
}
header .login-btn button.btn.btn-primary {
    width: 120px;
}
header .logo img {
    width: 158px;
}
.full-width{
    width: 100%!important;
}
.my-account-list:after, .my-account-list:before {
	bottom: 100%;
	left: 87%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.my-account-list:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 11px;
	margin-left: -11px;
}
.my-account-list:before {
	content:"";
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fae000;
	border-width: 12px;
	margin-left: -12px;
}
header .my-account-list ul {
    padding: 0;
    list-style: none;
    height: auto;
    margin-bottom: 0;
}

header .my-account-list {
    width: 218px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 0.5px #fadf06;
    margin-top: 16px;
    background: #fff;
    z-index: 9;
    position: absolute;
    float: left;
    margin-left: -172px;
}
.cart .remove-item a {
    color: #fae000;
    font-size: 18px;
    display: inline-block;
}

.cart-item .dish-price div {
    display: inline;
}

.cart-item .dish-price div.currency {font-size: 10px;}

.cart-item .dish-price div.number {
    font-size: 14px;
    font-weight: bold;
}

.cart-item .dish-price {
    margin-top: 12px;
    text-align: center;
}

.cart-item .remove-item {
    margin-top: 7px;
}
.cart-details {
    width: 366px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    border: solid 0.5px #fadf06;
    margin-top: 16px;
    background: #fff;
    z-index: 9;
    position: absolute;
    float: left;
    margin-left: -284px;
    margin-top: 5px;
    padding: 10px;
}
.cart-item {
    font-size: 12px;
    text-align: left;
    padding: 10px 0;
    color: #333333;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid #dcdedf;
}

.cart-item>div {
    padding: 0;
}

.cart-item .dish-name {
    color: black;
    margin-top: 12px;
}
.cart .dish-quantity {
    padding: 0;
    margin-top: 8px;
}
.cart-item .dish-quantity a {
    float: left;
    display: inline-block;
    width: 27px;
    height: 25px;
    text-align: center;
    font-size: 21px;
    line-height: 20px;
}

.cart-item .dish-quantity a:hover {
    text-decoration: none;
}

.cart-item .dish-quantity a.minus {
    background: #e6e6e6;
    color: #fff;
    margin-right: 10px;
}

.cart-item .dish-quantity a.plus {
    background: #fae000;
    color: #000;
}

.cart-item .dish-quantity label {
    float: left;
    width: 8px;
    height: 18px;
    margin-right: 10px;
    font-size: 16px;
    text-align: center;
}
.cart-title {
    font-size: 22px;
    color: #000;
    text-align: left;
    margin-bottom: 11px;
    border-bottom: 2px solid;
    padding-bottom: 5px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.cart-date {
    background: #000;
    color: #fff;
    font-size: 12px;
    text-align: left;
    padding: 1px 5px;
}
.cart-details:after, .cart-details:before {
	bottom: 100%;
	left: 87%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.cart-details:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #ffffff;
	border-width: 11px;
	margin-left: -11px;
}
.cart-details:before {
	content:"";
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #fae000;
	border-width: 12px;
	margin-left: -12px;
}
header .expand-cart .btn[aria-expanded="true"] {background: #fae000;}

header .expand-cart .btn[aria-expanded="true"] i {
    color: #1aa9e2;
}

header .expand-cart .btn[aria-expanded="true"] span {color: #1aa9e2;background: #fff;}

.expand-cart {
    width: 100%;
}
header .my-account-list li {
    padding: 10px;
    border-bottom: 1px solid #e6e6e6;
    /* height: 45px; */
    transition: all .5s ease;
}

header .my-account-list li:hover {
    background: #fae000;
}

header .my-account-list li:last-of-type {
    border: 0;
}

header .my-account-list li a {
    color: #292626;
    width: 100%;
    display: inline-block;
    font-size: 15px;
}

header .my-account-list li a:hover {
    text-decoration: none;
}

header .expand-account {
    width: 10%;
    float: left;
    padding: 23px 0;
    margin-left: -20px;
}

header .expand-account .btn:focus {
    box-shadow: none;
}
header .expand-account .btn[aria-expanded="true"] i:before {
    content: "\f106";
}
header .expand-account .btn:focus {
    outline: none;
}


header .col-md-2 {
    padding: 0;
}

header button.btn.btn-primary {
    width: 160px;
    height: 43px;
    margin: 16px 0;
    float: right;
    margin-right: 56px;
}

header .account-info {
    font-size: 15px;
    padding: 16px 0;
    width: 90%;
    float: left;
}

header .account-info .balance label {
    color: #a3a3a3;
    font-size: 12px;
}

header .account-info .balance span {
    color: #04a7e1;
    font-size: 12px;
    font-weight: bold;
}
header .cart {
    color: #fbdf09;
    text-align: center;
    font-size: 30px;
    width: 100%;
    height: 100%;
    /* padding: 20px; */
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
}
.cart .btn {
    background: transparent;
    transition: all .5s ease;
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.cart .btn:focus {
    outline: none;
}

.cart .btn:hover {
    color: #1aa9e2;
}
header .cart i{
    font-size: 31px;
    margin-top: 12px;
}
header {
    height: 72px;
    box-shadow: 0 0.5px 2px 0 rgba(0, 0, 0, 0.2);
    background: #fff;
}
.cart .cart-count {
    font-size: 13px;
    position: absolute;
    left: 22px;
    background: #000000;
    color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 17px;
}
header div.col-md-1 {
    padding: 0 7px;
}
.copy-rights {
    color: #f4f7f8;
    font-size: 12px;
}
.btn.btn-primary{
    background-color: #fadf06;
    color: #2d2d2d;
    font-size: 15px;
    font-weight: bold;
    border: 0;
    outline: none;
    transition: all .5s ease;
}

.btn.btn-primary:hover {
    background: #e4ce09;
}


footer{
    height: 332px;
    background-color: #3b3d40;
    width: 100%;
    margin-top: 95px;
}
footer .social {
    width: 120px;
    left: 50%;
    position: relative;
    margin-left: -60px;
    height: 51px;
    margin-top: 50px;
}
footer .logo {
    height: 130px;
    padding-top: 66px;
}

footer .logo img {
    width: 170px;
}

footer button.btn.btn-primary {
    width: 100%;
    height: 53px;
}

footer .social-item {
    color: #fbdf09;
    float: left;
    width: 40px;
    font-size: 22px;
}
.container h2 {
    margin: 43px 0;
    font-size: 27px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}

.container h3 {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Titillium Web', sans-serif;
}
.container .form label {
    width: 100%;
    margin: 15px 0px;
    font-family: 'Titillium Web', sans-serif;
}

.container .form input {
    width: 100%;
    height: 48px;
    margin-bottom: 11px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 3px;
    padding: 10px;
}

.container .form input:focus {
    border: 1px solid #fae000;
    outline: none;
}
.container.account-settings .row {
    width: 50%;
}

.row.settings {
    padding-left: 33px;
}

.password.row i {
    font-size: 20px;
    position: absolute;
    right: 33px;
    top: 62px;
    color: #fae000;
}
.form .btn.btn-primary {
    width: 158px;
    margin: 18px 0;
    height: 42px;
}

.container .form {
    margin-bottom: 30px;
}
.account-balance .info {
    margin-top: 25px;
    font-size: 13px;
    line-height: 12px;
}

.account-balance .amount {
    margin-top: 17px;
    color: #26ae60;
}

.account-balance .amount .remaining {
    font-size: 30px;
    font-weight: bold;
}

.account-balance .amount .total {
    color: black;
}

.settings .checkbox {
    font-family: 'Titillium Web', sans-serif;
    line-height: 50px;
}

.settings .checkbox label .dropdown {
    display: inherit;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    height: 55px;
    width: 150px;
    margin: 0 5px;
}

.settings .checkbox label .dropdown .btn {
    border: 0;
    height: 100%;
    width: 100%;
    font-size: 18px;
    text-align: left;
}

.settings .checkbox label .dropdown .btn i {
    font-size: 21px;
    position: absolute;
    right: 11px;
}

.settings .checkbox label {
    font-size: 17px;
    margin-top: 11px;
    margin-bottom: 0px;
    margin-left: 20px;
    height: 60px;
}


.checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -40px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    margin-top: 15px;
}
.checkbox label::after {
    content:"";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-left: -39px;
    padding-left: 1px;
    padding-top: 0;
    font-size: 14px;
    color: #555555;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox input[type="checkbox"]:checked + label::after {
    color: #f4f7f8;
}
.checkbox input[type="checkbox"]:checked + label::before {
    background-color: #fae000;
    border: 0;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
    margin-top: 27px;
    z-index: 9;
    width: 20px;
    height: 20px;
}
.container.login {
    width: 50%;
    margin-top: 44px;
    text-align: center;
    font-size: 16px;
}

.login-form h2 {
    margin: 36px 0;
}

.login-form .form {
    text-align: left;
    width: 55%;
    margin: auto;
    margin-top: 27px;
    font-size: 15px;
}
.login-form .contact {
    color: #23aee4;
    text-decoration: underline;
}
.login-form .forgot {
    text-align: center;
    width: 100%;
    display: inline-block;
    color: #3b3a34;
    margin-top: 10px;
}
.container.benifits h2 {
    font-size: 32px;
    font-weight: bold;
}

.container.benifits {
    margin-top: 50px;
}

.benifits-item img {
    height: 161px;
}

.benifits-item h4 {
    color: #04a7e1;
    font-size: 33px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}
.benifits-item div {
    margin-top: 18px;
}

.testimonials {
    margin-top: 61px;
}

.testimonials h2 {
    font-size: 33px;
}

.testimonials .video {
    height: 250px;
}

.testimonials .quote {
    width: 55%;
    margin: 31px auto;
    font-size: 17px;
    color: #4b4b4b;
    line-height: 28px;
}

.testimonials .quote span {}

.testimonials .quote i {
    color: #7acfec;
    font-size: 34px;
    position: absolute;
}

.testimonials .quote i.fa.fa-quote-left {
    left: 25%;
}

.testimonials .quote i.fa.fa-quote-right {
    right: 26%;
}

.container.ppl .name {width: 110px;margin: auto;padding-top: 20px;border-top: 1px solid #dae2e8;}

.container.ppl .company-name {
    font-weight: normal;
    font-size: 12px;
}

.container.ppl {
    margin-top: 18px;
}

.row.ppl-img {
    width: 31%;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

.row.ppl-img img {
    width: 60px;
}
.container.who {
    margin-top: 52px;
}

.container.who h2 {
    font-size: 33px;
}

.cust-img .col {
    width: 20%;
    float: left;
    margin-bottom: 32px;
}

.col.nbc img {
    width: 58px;
    margin-top: -5px;
}

.col.general img {
    width: 120px;
    margin-top: 7px;
}

.col.microsoft img {
    width: 140px;
    margin-top: 13px;
}

.col.usa img {
    width: 130px;
    margin-top: 14px;
}

.col.redbull img {width: 94px;}

.cust-img .col img {}

.meals-not-available .sad {
    width: 103px;
    margin-top: 30px;
}
.not-available-bg {
    background: url('../img/not-available.png');
    margin-bottom: -95px;
    padding-bottom: 220px;
    background-size: cover;
}

.who button.btn.btn-primary {
    margin-top: 19px;
    height: 49px;
    width: 360px;
}

.who a.link {
    margin-top: 20px;
    display: inline-block;
    font-size: 17px;
    text-decoration: underline;
    color: #231f1f;
}

.container.sample-menu {
    margin-top: 50px;
}

.container.sample-menu h2 {
    font-size: 33px;
}

.sample-menu .dish-price {
}

.sample-menu .download-menu {width: 361px;margin-top: -26px;height: 50px;}
.container.contact-hr {
    background: #04a7e1;
    width: 100%;
    margin-top: 103px;
}

.contact-hr .form {
    margin-top: 30px;
    width: 28%;
    margin: auto;
}

.contact-hr .form .btn {
    width: 100%;
    height: 50px;
    margin-top: 6px;
    margin-bottom: 40px;
}

.contact-hr h3 {
    font-size: 40px;
    margin-top: 32px;
    color: #fff;
    margin-bottom: 44px;
}
.landingBG{
    background:url('../img/landingBG.png');
    height: 740px;
    background-size: cover;
}
.container-fluid.landing {
    padding: 0;
    margin-bottom: -95px;
}
.landing .banner {
    margin-top: 206px;
}

.landing .banner h2 {
    font-size: 39px;
    font-weight: bold;
    margin: 0;
}
.landing .banner .btn.btn-primary {
    width: 162px;
    margin-top: 36px;
    height: 48px;
    margin-bottom: 21px;
}

.landing .banner a.link {
    font-size: 17px;
    color: #231f1f;
    text-decoration: underline;
}
.landing .about h3 {
    font-size: 34px;
}

.landing .about {
    margin-top: 74px;
    width: 80%;
    font-family: 'Titillium Web', sans-serif;
}

.landing .about p {
    font-size: 18px;
    margin-top: 37px;
    margin-bottom: 90px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.landing .about .steps {
    margin-top: 30px;
}

.landing .about .steps img.imgstep-img {
    width: 100px;
}

.landing .about .steps .step-title {
    font-size: 19px;
    font-weight: bold;
    width: 73%;
    margin: auto;
    margin-top: 21px;
}
.landing .container.info {
    margin-top: 43px;
    width: 60%;
    font-size: 17px;
    color: #2d2d2d;
    line-height: 27px;
    font-family: 'Titillium Web', sans-serif;
}
.landing .info h4{font-size: 26px;}
.sp{color:#02a7e1;font-weight: bold;}

.info span.sp {
    font-size: 24px;
}
.steps-line>div>div {
    width: 28px;
    margin: auto;
    background: #2d2d2d;
    color: #fff;
    border-radius: 50%;
    height: 28px;
    line-height: 28px;
}

.steps-line:before {
    content: "";
    width: 65%;
    height: 1px;
    background: #e3e3e3;
    position: absolute;
    left: 50%;
    margin-left: -32.5%;
    top: 13px;
}

.steps-line {
    position: relative;
    margin-top: 8px;
}
.bread-crumb {
    float: left;
    width: 100%;
    margin: 17px 0;
}

.bread-crumb a {
    color: #2db2e5;
    margin-right: 12px;
}

.bread-crumb i {
    margin-right: 12px;
}
.fav-item {
    padding: 18px 0;
    margin-bottom: 20px;
}
.dish-title {
    font-size: 17px;
    margin-bottom: 6px;
    font-weight: bold;
}

.rating {
    float: left;
    margin-right: 8px;
}

.dish-owner {
    float: left;
    font-size: 12px;
    color: #9a9a9b;
}

.sep {
    float: left;
    font-size: 12px;
    color: #9a9a9b;
    margin-right: 8px;
}

.rating-number {
    font-size: 12px;
    color: #9a9a9b;
    float: left;
}
.rating-stars {
    color: #fae000;
    float: left;
    margin-right: 28px;
}
.container.fav-content {
    width: 80%;
    float: left;
}
.currency {
    text-align: center;
    font-size: 12px;
}

.price {
    text-align: center;
    font-size: 25px;
    margin-top: -5px;
}

.dish-desc {
    font-size: 12px;
    color: #9e9e9e;
    line-height: 20px;
    margin-top: 13px;
}

.order-detail .dish-desc {
    /* margin-right: 80px; */
}

.dish-tags .tag-item {
    color: #949494;
    font-size: 12px;
    float: left;
    width: auto;
    border: 1px solid;
    height: 27px;
    border-radius: 20px;
    line-height: 25px;
    padding: 0 10px;
    margin-right: 10px;
}

.favorites .dish-tags {
    margin-top: 12px;
}
.fav-img-cont {
    height: 200px;
}
.sign-up-banner img {
    width: 100%;
}

.sign-in .sign-up-banner img {
    height: 650px;
}

.sign-up h3 {
    position: absolute;
    bottom: 28px;
    color: #fff;
    font-size: 34px;
    left: 41px;
    font-weight: bold;
    width: 100%;
}

.sign-up h3 div {
    margin-bottom: 5px;
}

.sign-up-banner {
    position: relative;
}

.container.sign-up {
    width: 65%;
    margin-top: 91px;
}
.sign-up .form i {
    font-size: 20px;
    position: absolute;
    right: 33px;
    top: 62px;
    color: #02a7e1;
}

.sign-up .form .social-login i {
    top: 27px;
    color: #fff;
    left: 30px;
}

.sign-up h4 {
    font-size: 28px;
    margin-top: 38px;
}
.container.get-started {
    width: 65%;
    margin-top: 195px;
    font-size: 26px;
}
.get-started h5 {
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 15px;
}

.get-started .btn {
    width: 468px;
    margin-top: 54px;
    height: 67px;
    font-size: 20px;
}





.plate.plate1,.plate.plate2 {
    position: absolute;
    left: 0;
}

.plate.plate1 {
    top: 86%;
    z-index: 2;
}

.plate.plate2 {
    top: 40%;
}
.plate.plate3,.plate.plate4 {
    position: absolute;
    right: 0;
}

.plate.plate4 {
    top: 50%;
}

.plate.plate3 {
    top: 90%;
    z-index: 2;
}
.plate.plate3 img{
    width: 140px;
}
.plate.plate4 img{
    width: 250px;
}
.plate.plate2 img {
    width: 250px;
}

.plate.plate1 img {
    width: 140px;
}
.container-fluid.plates {
    position: relative;
    background: url('../img/food-bg.png');
    margin-top: 215px;
    /* height: 100%; */
    background-size: cover;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
    color: #221f1f;
    border: 0;
    background: transparent;
    border-bottom: 2px solid #fae000;
}

.nav-tabs>li>a {
    color: #221f1f;
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin-right: 25px;
    font-size: 21px;
}
.nav-tabs {
    border: 0;
}
.faq-item .question {
    font-size: 16px;
    color: #2d2d2d;
    margin-top: 34px;
}

.faq-item .answer {
    border-left: 6px solid #edecec;
    padding-left: 11px;
    font-size: 16px;
    margin-top: 17px;
    padding-bottom: 21px;
}

.faq-item {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 30px;
}
.faq .contact {
    background: #fffdfd;
    padding: 20px;
    width: 298px;
    float: right;
    margin-top: 62px;
    height: 163px;
    text-align: center;
}

.faq .contact p {
    font-size: 19px;
}

.faq .contact .btn {margin-top: 29px;width: 165px;height: 47px;}
.orders-header {
}

.orders-content {
    margin-top: 30px;
}

.order-date .date {
    background: #3b3d40;
    color: #fff;
    height: 67px;
    border-radius: 5px;
    text-align: center;
}

.has-order .order-date .date {
    background: #04a7e1;
}

.order-date .day {
    color: #3b3d40;
    text-align: center;
    font-size: 11px;
    margin-top: 12px;
}

.has-order .order-date .day,.has-order .order-date .time {
    color: #04a7e1;
}

.order-date .time {
    font-size: 11px;
    color: #3b3d40;
    text-align: center;
}

.has-order .order-date .time {}

.order-date .date .number {
    font-size: 30px;
    padding-top: 1px;
}
.has-order.order-actions .btn {
    margin-top: 58px;
}

.order-actions .btn {
    margin-top: 21px;
}

.btn i {
    margin-right: 10px;
}

.order-actions .link {display: block;margin-top: 13px;width: 100%;text-align: center;color: #2d2d2d;text-decoration: underline;}

.dish-desc .dish-price {
    color: #333333;
    font-weight: bold;
    line-height: 22px;
    padding: 0;
}
.dish-desc .dish-price .currency {
    font-size: 10px;
}
.dish-tags {
    margin-top: 14px;
}
.order-item {
    margin-bottom: 60px;
}
#past .dish-price {
    font-weight: bold;
    margin-top: 14px;
}
#past .fav-img-cont {
    height: 120px;
}

#past .order-detail>.row {
    border-bottom: 1px solid #e6e6e6;
    margin-bottom: 10px;
}

#past .order-detail>.row:last-of-type {
    border: none;
}
.day-picker .day {
    float: left;
    width: calc((100% - 60px) / 6);
    margin-right: 10px;
    text-align: center;
    border: 1px solid #1aa9e2;
    color: #1aa9e2;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    transition: all .5s ease;
    cursor: pointer;
}

.day-picker .day:hover {
    text-decoration: none;
    background: #1aa9e2;
    color: #fff;
}

.day-picker .day.selected {
    background: #1aa9e2;
    color: #fff;
}

.day-picker .day.selected:before {
    content: "\f00c";
    font: normal normal normal 15px/1 FontAwesome;
    border-radius: 50%;
    background: #fff;
    color: #1aa9e2;
    margin-right: 7px;
    width: 15px;
    height: 15px;
    display: inline-block;
    line-height: 15px;
}
.meals .location label, .meals .sort label,.meals .today-date label {
    color: #b4b4b4;
    text-transform: uppercase;
    font-size: 12px;
}

.meals .location .dropdown .btn,.meals .sort .dropdown .btn {
    background: transparent;
    border: none;
    color: #1aa9e2;
    padding: 0;
}

.meals .location .dropdown .btn i, .meals .sort .dropdown .btn i {
    color: black;
    font-size: 17px;
}

.meals .location,.meals .sort {
    border-left: 1px solid #e6e6e6;
}
.day-picker i {
    position: absolute;
    top: 11px;
    font-size: 17px;
}
.meals .meals-text {
    height: 40px;
    overflow: hidden;
}

.meals .meals-text:after {
    content: '. . .';
    position: absolute;
    bottom: 0;
    right: 20px;
}
.meals-content {
    margin-top: 60px;
}
.meals .dish-price {
    text-align: center;
    font-weight: bold;
    color: #1aa9e2;
}

.meals .dish-price .currency {
    font-size: 10px;
}

.meals .dish-price .price {
    font-size: 24px;
}
.meals .dish-add-btn {
    padding: 0 7px;
}
.meal-item {
    margin-bottom: 70px;
    padding: 0 30px;
}
.calendar-icon {
    position: absolute;
    z-index: 9;
    background: transparent;
    border: 0;
    color: #1aa9e2;
    top: 9px;
}

div#datetimepicker1 input {
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.2);
    border: 0;
    padding-left: 40px;
    height: 46px;
}
.meals-not-available .note {
    font-size: 21px;
    margin-top: 20px;
}

.meals-not-available .pick-day {
    margin-top: 25px;
}
.pick-day label {
    font-size: 15px;
}

div#datetimepicker1 {
    width: 360px;
    margin-top: 14px;
}

div#datetimepicker1 i {
    position: absolute;
    z-index: 9;
    font-size: 19px;
    top: 5px;
    left: 332px;
    color: #333333;
}
button#facebook-login {
    background: #3b5998;
    color: #fff;
    text-align: left;
    padding-left: 60px;
}

button#google-login {
    background: #dd4b39;
    color: #fff;
    text-align: left;
    padding-left: 60px;
}
.sep-or {
    color: #c7c7c7;
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 50%;
    position: relative;
    margin-left: -12px;
    margin-top: 22px;
    line-height: 28px;
    margin-bottom: 20px;
}

.sep-or:before {
    content: '';
    border: 1px solid;
    width: 161px;
    display: block;
    top: 13px;
    position: absolute;
    left: 29px;
}
.sep-or:after {
    content: '';
    border: 1px solid;
    width: 161px;
    display: block;
    top: 13px;
    position: absolute;
    right: 29px;
}
.sign-in .form .btn.btn-primary {
    margin: 30px 0px;
    height: 53px;
}

.sign-in .form .social-login .btn.btn-primary {
    margin: 10px 0;
    height: 50px;
}
.privacy-policy .title {
    color: #02a7e1;
    font-size: 18px;
    margin-bottom: 22px;
    font-weight: bold;
}

.privacy-policy .statement {
    font-size: 16px;
    margin-bottom: 23px;
    color: #221f1f;
}
.privacy-policy p {
    margin-bottom: 25px;
}
